@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    font-family: "GangwonEdu_OTFBoldA";
}

body{
    max-width: 100%;
    max-height: 100%;
    background-repeat: no-repeat;
}

button{
    border: none;
    background-color: transparent;
}

.prevBtn{
    margin-left: 10px;
    margin-top: 10px;
}