.back{
    width: 420px; 
    height: 670px; 
    width: 100%;
    height: 100%;
    background: no-repeat;
    background-size: cover;
    flex-direction: flex-end;
    position: absolute;
}

.background{
    background-color: blue;
}

.background1{
    background-image: url(../../../public/images/phone_message1.png);
}

.preBtn{
    background-image: url(../../../public/images/phone_previousIcon.png);
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
