.background{
    background-color: rgb(252, 102, 217);
    width: 420px; 
    height: 670px;
}



.container2{
    background-color: rgb(255, 245, 253);
}


button{
    font-size: 1.2rem;
}

.name{
    margin-top: 1em;
}

.preBtn{
    background-image: url(../../../public/images/phone_previousIcon.png);
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
