
body{
    background-image: url("../images/wallpaper.png");
    /* background-color: rgb(255, 202, 223); */
}

.app{
    display: flex;
    align-items: center;
    margin: 2em 1em 0em 1em;
    justify-content: space-between;
}

button{
    padding: 0;
    float: right;
    border: none;
}